.container{
width:900px;
overflow: hidden;
margin: 0 auto;
height: auto;

}

.image1{
	width:25%;
	float: left;
	margin-top: 20px;
	height: : 100px;
	padding: 10px;

}

.image2{
	width: 25%;
	float: left;
	margin-top: 20px;
	height: 100px;
	padding: 10px;

}

.image3{
	width: 25%;
	float: left;
	margin-top: 20px;
    height: 100px;
    padding: 10px;
}



.container{
width:900px;
overflow: hidden;
margin: 0 auto;
height: auto;

}

.image1{
	width:25%;
	float: left;
	margin-top: 20px;
	height: : 100px;
	padding: 10px;

}

.image2{
	width: 25%;
	float: left;
	margin-top: 20px;
	height: 100px;
	padding: 10px;

}

.image3{
	width: 25%;
	float: left;
	margin-top: 20px;
    height: 100px;
    padding: 10px;
}

img{
	width: 100%
}